<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Registration Form</title>
</head>
<body>

<form th:action="@{processForm}" th:object="${student}">
    First name: <input th:field="*{firstName}" />

    <br><br>

    Last name: <input th:field="*{lastName}" />

    <br><br>

    Country
    <select th:field="*{country}">
        <option th:each="country : ${student.countryOptions}" th:value="${country.key}" th:text="${country.value}"></option>
    </select>

    <br><br>

    Java <input type="radio" th:field="*{favoriteLanguage}" th:value="'Java'" />
    C# <input type="radio" th:field="*{favoriteLanguage}" th:value="'C#'" />
    Python <input type="radio" th:field="*{favoriteLanguage}" th:value="'Python'" />
    Javascript <input type="radio" th:field="*{favoriteLanguage}" th:value="'Javascript'" />

    <br><br>

    Operating System
    Linux <input type="checkbox" th:field="*{operatingSystems}" th:value="'Linux'" />
    Mac OS <input type="checkbox" th:field="*{operatingSystems}" th:value="'Mac OS'" />
    MS Windows <input type="checkbox" th:field="*{operatingSystems}" th:value="'MS Windows'" />

    <br><br>

    <input type="submit" value="Submit">
</form>
</body>
</html>