<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student information</title>
</head>
<body>

<p th:text="'The student is confirmed: ' + ${student.firstName} + ' ' + ${student.lastName}"></p>

<p th:text="'Country: ' + ${student.country}"></p>

<p th:text="'Favorite Language: ' + ${student.favoriteLanguage}"></p>

<br>
Operating Systems:
<ul>
    <li th:each="system : ${student.operatingSystems}">
        <span th:text="${system}"></span>
    </li>
</ul>

</body>
</html>