<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Registration Form</title>
</head>
<body>

<form th:action="@{processForm}" th:object="${student}">
    First name: <input th:field="*{firstName}" />

    <br> <br>

    Last name: <input th:field="*{lastName}" />

    <br> <br>

    Country
    <select th:field="*{country}">
        <option th:value="Brazil" th:text="Brazil"></option>
        <option th:value="France" th:text="France"></option>
        <option th:value="Germany" th:text="Germany"></option>
        <option th:value="India" th:text="India"></option>
    </select>

    <br> <br>

    <input type="submit" value="Submit">
</form>
</body>
</html>